*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-theme="tokyonight-day"] {
  --tn-bg: #e6e7ed;
  --tn-fg: #343b58;
}

[data-theme="tokyonight-night"] {
  --tn-bg: #1a1b26;
  --tn-fg: #c0caf5;
}

body {
  background-color: var(--tn-bg);
  color: var(--tn-fg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
